* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    place-content: center;
    background-color: #212427;
    color: wheat;
    min-height: 100vh;
}

.carrousel {
    padding: 0px;
    border: 1px solid whitesmoke;
    width: 400px;
    display: flex;
    gap: 15px;
    scroll-behavior: auto;
    gap: 1. 2rem;
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.carrousel article {
    flex-shrink: 0;
    width: 400px;
    overflow: hidden;
    scroll-snap-align: center;
}