body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    header {
        background-color: red;
    }

    main {
        background-color: green;
    }

    footer {
        background-color: blue;
    }
}